{% extends 'main/base.html' %} 

{% block body %} 
{% include 'main/header.html' %}


<h1>Account page artem, sdelay krasivo</h1>



<h1>{{ user.id }} - id юзера, его никуда не надо вставлять</h1>
<h1>{{ user.username }} - username юзера</h1>
<h1>{{ user.email }} - email юзера</h1>
<h1>{{ user.first_name }} - first_name юзера</h1>
<h1>{{ user.last_name }} - last_name юзера</h1>
{% if order_status %}
<h1>{{ order_status.paid }} -  статус заказа(если он есть)</h1>
<h2>Пожалуйста завершите оплату заказа или отмените его! </h2>
{% endif %}




<p>Пример как на фотке в тг</p>


{% include 'main/footer.html' %}

{% endblock %}