{% extends 'Main/base.html' %} 

{% block body %}
{% include 'Main/header.html' %} 


<div class="container">
    <h3 class="display-1 text-center">Reset password</h3>
    <form action="#" method="post" >
        {% csrf_token %}
        <div class="row form-group ">
            <div class="col-md-12">
                <!-- <label for="fname">Username</label> -->
               {{ form.email }}
              
              
            </div>
           
            
        </div>

        <div class="form-group text-center">
            <button type="submit" value="Reset" class="btn btn-primary">Reset password</button> 
        </div>

    </form>		
</div>
{% include 'Main/footer.html' %}

{% endblock %}