{% load main_tags %}
<nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-2">
                <div id="fh5co-logo"><a href="{% url 'home' %}">Timar</a></div>
            </div>
            <div class="col-md-6 col-xs-6 text-center menu-1">
                <ul>
                    <li class="has-dropdown">
                        <a href="{% url 'product' %}">Shop</a>
                        <ul class="dropdown">
                            <li><a href="#">Single Shop</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li class="has-dropdown">
                        <a href="{% url 'service' %}">Services</a>
                        <ul class="dropdown">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">eCommerce</a></li>
                            <li><a href="#">Branding</a></li>
                            <li><a href="#">API</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
                <ul>
                        
                    {% if user.is_authenticated %}
                    <li class="shopping-cart"><a href="{% url 'cart' %}"  class="cart"><span><small>{% cart request=request %}</small><i class="icon-shopping-cart"></i></span></a></li>
                    <li><a href="{% url 'account' user.id %}">Hello, {{user.username}}</a>|<a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}" >Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
    </div>
</nav>